<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SediM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Ivan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SediM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SediM.Properties.Settings>
            <setting name="MySQL_server" serializeAs="String">
                <value>sstp-sedim-12289.8nj.cockroachlabs.cloud</value>
            </setting>
            <setting name="MySQL_uzivatel" serializeAs="String">
                <value>sspt</value>
            </setting>
            <setting name="MySQL_heslo" serializeAs="String">
                <value>kQzI129YtsJOcy2lyudNow</value>
            </setting>
            <setting name="MySQL_databaze" serializeAs="String">
                <value>sedim</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Ivan</value>
            </setting>
            <setting name="LoadingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </SediM.Properties.Settings>
        <Ivan.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>Ivan</value>
            </setting>
            <setting name="LoadingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Ivan.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SediM.Properties.Settings>
            <setting name="MySQL_port" serializeAs="String">
                <value>26257</value>
            </setting>
        </SediM.Properties.Settings>
    </userSettings>
</configuration>