<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SediM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SediM.Properties.Settings>
            <setting name="MySQL_server" serializeAs="String">
                <value>80.211.209.240</value>
            </setting>
            <setting name="MySQL_uzivatel" serializeAs="String">
                <value>ultron01</value>
            </setting>
            <setting name="MySQL_heslo" serializeAs="String">
                <value>Nechanice123Pp@@@</value>
            </setting>
            <setting name="MySQL_databaze" serializeAs="String">
                <value>sedim</value>
            </setting>
        </SediM.Properties.Settings>
    </applicationSettings>
</configuration>